body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

/* Wrapper */
.page {
  padding: 20px;
}

/* "+ Add Dog" spacing */
.add-dog-button {
  background-color: #3B82F6;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/* hover background coloring */
.add-dog-button:hover {
  background-color: #2563EB;
}

/* About button */
.about {
  background-color: #3B82F6;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/* hover background coloring for backbutton */
.about:hover {
  background-color: #2563EB;
}

/* FULL-WIDTH GRID */
.dog-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 24px;
}

/* Card */
.dog-card {
  text-decoration: none;
  color: inherit;
  background: #f8f8f8;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
}



/* Image inside card */
.dog-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.dog-card:hover img {
  transform: scale(1.05);
  /* zoom effect instead of hovering */
}

/* Name text */
.dog-card p {
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: "20px";
}